In [24]:
# Import Python packages 
import pandas as pd
import configparser
import psycopg2
import re
import os
import glob
import numpy as np
import json
import csv

# Method 1: psycopg2

In [25]:
#Make connection to redshift database
config = configparser.ConfigParser()
config.read('dwh.cfg')
 #create the connection to redshift database using the config files
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [27]:
#Get data from songplays
cur.execute("select * from songplay limit 3;")
data = cur.fetchall()
data

[(141,
  datetime.datetime(2018, 11, 3, 16, 36, 15),
  '95',
  'paid',
  None,
  None,
  152,
  'Winston-Salem, NC',
  '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (189,
  datetime.datetime(2018, 11, 3, 17, 47, 24),
  '15',
  'paid',
  None,
  None,
  199,
  'Chicago-Naperville-Elgin, IL-IN-WI',
  '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (237,
  datetime.datetime(2018, 11, 3, 19, 17, 17),
  '95',
  'paid',
  None,
  None,
  152,
  'Winston-Salem, NC',
  '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [28]:
df = pd.DataFrame(data, columns=['songplay_id','start_time', 'user_id', 'level', 'song_id', 'artist_id', 'session_id', 'location', 'user_agent'])
df

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent
0,141,2018-11-03 16:36:15,95,paid,None,None,152,"Winston-Salem, NC","""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like..."
1,189,2018-11-03 17:47:24,15,paid,None,None,199,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
2,237,2018-11-03 19:17:17,95,paid,None,None,152,"Winston-Salem, NC","""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like..."

# Method 2: postgresql

In [34]:
%load_ext sql

conn_string="postgresql://{}:{}@{}:{}/{}".format(config['CLUSTER']['DB_USER']
                        , config['CLUSTER']['DB_PASSWORD']
                        , config['CLUSTER']['HOST']
                         , config['CLUSTER']['DB_PORT']
                        ,config['DWH']['DWH_DB'])
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:Passw0rd@dwhcluster.c3fcesvehdhd.us-west-2.redshift.amazonaws.com:5439/dwh

In [36]:
%%sql 
SELECT sp.song_id, s.title, count(*) AS cnt 
    FROM songplay sp
    JOIN songs s
      ON sp.song_id = s.song_id
GROUP BY 1, 2
ORDER BY 3 DESC
   LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c3fcesvehdhd.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOBONKR12A58A7A7E0', "You're The One", 37),
 ('SOUNZHU12A8AE47481', "I CAN'T GET STARTED", 9),
 ('SOHTKMO12AB01843B0', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('SOULTKQ12AB018A183', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ('SOLZOBD12AB0185720', "Hey Daddy (Daddy's Home)", 6),
 ('SOTNHIP12AB0183131', 'Make Her Say', 5),
 ('SOARUPP12AB01842E0', 'Up Up & Away', 5),
 ('SOIOESO12A6D4F621D', 'Unwell (Album Version)', 4),
 ('SONQEYS12AF72AABC9', 'Mr. Jones', 4),
 ('SOIZLKI12A6D4F7B61', 'Supermassive Black Hole (Album Version)', 4)]

In [37]:
%%sql
SELECT sp.artist_id, a.name AS artist_name, count(*) AS cnt
    FROM songplay sp
    JOIN artists a
      ON sp.artist_id = a.artist_id
GROUP BY 1, 2
ORDER BY 3 DESC
   LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c3fcesvehdhd.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AR5E44Z1187B9A1D74', 'Dwight Yoakam', 37),
 ('ARD46C811C8A414F3F', 'Kid Cudi', 10),
 ('AR37SX11187FB3E164', 'Ron Carter', 9),
 ('AR5EYTL1187B98EDA0', 'Lonnie Gordon', 9),
 ('ARKQQZA12086C116FC', 'B.o.B', 8),
 ('ARR3ONV1187B9A2F59', 'Muse', 6),
 ('ARPDVPJ1187B9ADBE9', 'Usher featuring Jermaine Dupri', 6),
 ('ARM0P6Z1187FB4D466', 'Richard Hawley And Death Ramps_ Arctic Monkeys', 5),
 ('ARLY7P81187B9ACF4D', 'Counting Crows', 4),
 ('ARQUMH41187B9AF699', 'Linkin Park', 4)]